*{
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family:'LOL' ;
    src: url(font/BeaufortforLOL-Bold.ttf);
}
header{
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 5px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.logo{
    width: 90px;
    height: 90px;
    margin-left: 100px;
    margin-top: 10px;
}
.nav{
    display: flex;
    padding-top: 5px;
}
.nav a{
    text-decoration:none;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0 30px;
    font-family:'LOL';
    padding-bottom: 10px;
    color:#fff;
    font-size: 25px;
    transition: all 0.3s ease;
}
.nav a:hover{
    color:red
}
.nav a::after{
    content: "";
    height: 5px;
    width: 0px;
    background: red;
    position: absolute;
    bottom: 0px; 
    left: 0;
    transition: all 0.3s ease-in-out;
}
.nav a:hover::after{
    width: 100%;
    transform: translateX(0%);
}
html, body{
    width: 100%;
    height: 100%;
    display: grid;  
    justify-content: center;
    align-items: center;
    background-image: url(img/back2.jpg); 
    background-size: cover;
}

.abtushead{
    color:black;
    font-weight: bold;
    justify-self: center;
    transform: translateY(100px);
    margin-top:50px;
}
.hien{
    display:block;
    align-items:center;
    justify-self: center;
    margin-top: 50px;
}
.hiencontent{
    display:flex;
    color:white;
    width: 60%;
    padding: 7px;
    margin: 2px;
    transition: all .6s ease-in-out;
    position: relative;
    font-size: 20px;
    justify-self: center;
}
.hoangcontent{
    display:flex;
    width: 60%;
    padding: 7px;
    margin: 2px;
    transition: all .6s ease-in-out;
    position: relative;
    font-size: 20px;
    justify-self: center;
}
.p{
    font-size: 17px;
    font-weight:bold;
    text-decoration: none;
    background: linear-gradient(to right, #111111 50%, #646464 50%, #515151);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}
.p:hover {
    background-position: -100%;
}

