*{
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.logo{
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-style: italic ;
}
.nav{
    display: flex;
}
.nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 35px;
    color:#fff;
    font-size: 25px;
    transition: all .6s ease
}
.nav a:hover{
    color:red
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-image: url(thumb-1920-1340819.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Cai wrap nay de goi bon no trong mot hang nhe*/
.wrap{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
/*cai the nay co 2 lop la lop trc khi di chuot vao va sau khi di chuot vao*/
.card{
    width: 280px;
    height: 360px;
    padding: 32px 16px;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
/*hover de no tuong tac khi di chuot vao, o day la de cho cai card ha xuong 20px*/
.card:hover{
    transform: translateY(20px);
}
/*luc trc, de z index = 2 de cho no ra dang trc*/
.card:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(to bottom, rgb(0, 0, 0),red);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 0.5;
}
img{
    height: 360px;
    width: 280px;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transition: 0.5s all;
}
.card:hover .info{
    transform: translateY(0px);
    opacity: 1;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.card .info .but{
    text-decoration: none;
    padding: 8px 16px;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}